body {
  font-family: "Merriweather", serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;

  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 30px;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar */
header {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
}

.nav-icon-container {
  position: absolute;
  display: flex;
  gap: 1.75rem;
  right: 2rem;
  top: 1.75rem;
  height: 1.25rem;
}

/* Regisztráció */

.container {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 68rem;
}

.image-container img {
  display: flex;

  border-right: 1px solid black;
}

.register-form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 8px;
  align-items: center;
  font-size: 12px;
  gap: 1.5rem;
  width: 100%;
}

.register-form input::placeholder {
  font-family: "Merriweather", serif;
  font-size: 12px;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #23190a;
  color: #fff;
  cursor: pointer;
}

.register-btn {
  transition: all 0.7s;
}

.register-btn:hover {
  background-color: white;
  color: black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.register-form .form-item {
  position: relative;
  display: flex;
  width: 100%;
}

.register-form .form-label {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}

.register-form .form-input {
  padding: 0.25rem;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.register-form .form-input:focus {
  outline: none;
  border-bottom: 2px solid grey;
}

.register-form .form-input:valid {
  margin-top: 1rem;
}

.nav-container {
  width: 100%;
  font-size: 9px;
}

.bejelentkezes-nav-container {
  display: flex;
  gap: 0.5rem;
}

.bejelentkezes-link {
  font-style: italic;
  cursor: pointer;
}

/* Főoldal */
.home-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
  font-size: 20px;
  cursor: pointer;
}

.home-img-container img {
  object-fit: cover;
  width: 15rem;
  height: 15rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.home-img-container:hover {
  transform: scale(1.05);
}

.index-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
